<div class="book">
    <img #bookCover class="book-cover" src="{{ apiBasePath }}/api/books/{{ id() }}/cover" (error)="loadFallback()" alt="{{ cover() }}"/>
    <div class="book-info">
        <p class="book-title">{{ title() }}</p>
        <p class="book-author">{{ author() }}</p>
    </div>
    <div class="book-rating">
        <div>
            @for (star of [].constructor(rating()); track $index) {
                <book-star 
                    [fill]="'#F9EBB2'"
                />
            }
            @for (star of [].constructor(5 - rating()); track $index) {
                <book-star 
                    [fill]="'#FFF'"
                />
            }
        </div>
        <p>{{ description() }}</p>
    </div>
</div>