main {
    width: 75%;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 12px 8px;
    background-color: #05544a;
    border: 0;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #033d35;
}

.form-info, .form-desc {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.form-info span, .form-desc span {
    width: 49%;
}

input, textarea {
    padding-left: 0.5em;
}

input[type=text] {
    height: 1.5em;
}

input[type=file] {
    display: none;
}

textarea {
    width: 100%;
}

textarea {
    margin-top: 8px;
    height: 15em;
}

label {
    margin-right: 8px;
}

.add-button {
    margin-top: 8px;
    padding: 8px 16px;
}

#svg-paperclip {
    height: 1.5em;
    width: 2em;
}

.file-upload {
    margin-top: 8px;
}

.file-upload button {
    border-radius: 100%;
}

.file-upload span {
    margin-left: 8px;
}

