<main>
    <h1>{{ title }}</h1>
    @if (!showAddBookForm) {
        <div #bookshelf class="bookshelf">
            <div class="header">
                <h2>Read books</h2>
                <button (click)="showBookForm()">Add book</button>
            </div>
            @if (books$ | async; as books) {
                @for ( book of books; track book.id) {
                    <read-book
                        [id]=book.id
                        [title]=book.title
                        [author]=book.author
                        [description]=book.description
                        [rating]="book.rating || 0"
                        [thoughts]="book.thoughts || ''"
                    />
                }
            }
        </div>
    } @else {
        <div #addBookForm class="add-book-form">
            <h2>Add book</h2>
            <form (ngSubmit)="addBook()">
                <div class="form-info">
                    <span>
                        <label for="title">Title:</label>
                        <input name="title" [(ngModel)]="model.title"/>
                    </span>
                    <span>
                        <label for="author">Author:</label>
                        <input name="author" [(ngModel)]="model.author"/>
                    </span>
                </div>
                <div class="form-desc">
                    <span>
                        <label for="description">Description:</label>
                        <textarea name="description" [(ngModel)]="model.description"></textarea>
                    </span>
                    <span>
                        <label for="thoughts">Thoughts:</label>
                        <textarea name="thoughts" [(ngModel)]="model.thoughts"></textarea>
                    </span>
                </div>
                <div>
                    <label for="rating">Rating:</label>
                    <input name="rating" type="number" [(ngModel)]="model.rating" min="0" max="5"/>
                </div>
                <div>
                    <label for="cover">Upload Cover:</label>
                    <input name="cover" type="file" accept="image/*" (change)="setCover($event)"/>
                </div>
                <button type="submit" class="add-button">Add</button>
            </form>
        </div>
    }
</main>


<router-outlet />
